* {
    font-family: Sans-Serif, serif;
    color: #666666;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}
input {
    border: 0.5px solid #888;
    padding: 10px;
    width: 15%;
}

button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 10px;
    width: 15%;
}

#nav-bar, #heading {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}