* {
    font-family: Sans-Serif, serif;
    color: #666666;
    overflow-y: hidden;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

input {
    border: 1px solid lavender;
    padding: 10px;
    width: 15%;
}

button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 10px;
    width: 15%;
}

button:hover {
    background-color: #84bdf1;
}

#nav-bar {
    text-align: center;
    padding-bottom: 20px;
}

.heading {
    text-align: center;
}

#tracker {
    border: 1px solid lavender;
    background-color: aliceblue;
    text-align: center;
    width: 50%;
    margin: 50px auto;
    border-radius: 4px;
    padding: 40px;
    overflow-y: auto;
}

#liquid {
    margin-bottom: 20px;
}

#main {
    display: inline-block;
    width: 84%;
}

#log {
    display: inline-block;
    width: 14.7%;
    height: 100%;
    vertical-align: top;
    border-left: 0.5px solid #888;
    overflow-y: auto;
    overflow-x: hidden;
}

#log-list {
    list-style: none;
    padding-right: 35px;
}

li > label, li > p {
    display: inline-block;
    width: 50%;
}

li > p {
    margin: 0;
}

li {
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 15px;
}

.buy {
    background-color: #ebfbee;
}

.sell {
    background-color: #fff0f6;
}

#owned-stock {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lavender;
}

#actions {
    text-align: center;
    margin: 50px auto;
}

#buy, #sell {
    width: 30%;
    height: 90px;
    color: #666666;
    border-radius: 5px;
    font-size: xx-large;
}

#buy {
    margin-right: 25px;
    background-color: palegreen;
}

#buy:hover {
    background-color: #d9ffd9;
    border: 1px solid lavender;
}

#sell {
    background-color: palevioletred;
}

#sell:hover {
    background-color: #daafbd;
    border: 1px solid lavender;
}